################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chess/obj
/Chess/bin

/WindowsFormsChess/bin
/WindowsFormsChess/obj

/WpfChess/obj
/WpfChess/bin
