################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chess/obj
/Chess/bin

/WindowsFormsChess/bin
/WindowsFormsChess/obj
/ChessConsole/obj

/WpfChess/obj
/WpfChess/bin
/ChessConsoleServer/bin/Debug/netcoreapp3.1
/debug.log
/ChessConsoleServer/obj/project.nuget.cache
JS/debug.log
/WebChess/obj
