################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chess/obj/Release/netcoreapp3.0
/Chess/obj/Debug/netcoreapp3.0
/Chess/obj
/Chess/bin/Debug/netcoreapp3.0
