@page
@model WebChess.Pages.ChessModel
@{
    ViewData["Title"] = "Chess";
}

    <div class="chessDesk">
        @Html.AntiForgeryToken()
        <div id="chessTable" class="chessTable">

        </div>
        <div class="playerDesk">
            <div class="userBlackDashBoard userDashBoard"></div>
            <div class="userWhiteDashBoard userDashBoard"></div>
        </div>
    </div>
<script src="~/lib/svg/svg.js"></script>
<script src="~/js/chess.js" type="module"></script>
