@page
@model WebChess.Pages.ChessModel
@{
    ViewData["Title"] = "Chess";
}

<div class="chessDesk" id="chessDesk">


</div>
@Html.AntiForgeryToken()

<script src="~/lib/svg/svg.js" asp-append-version="true"></script>
<script src="~/js/chess.js" type="module" asp-append-version="true"></script>
