@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div  id="chessTable" class="chessDesk">
       

    </div>


    <form method="post" asp-action="UserRegister"></form>
    
</div>
